/* Color */
$mainColor: #823016;
$secdColor: #c9ad95;
$teciColor: #d86141;
$compColor: #d6c6bd;
$warmWhite: #f4f2ef;
$decoColor: #775bb5;
$smbgColor: #617f28;
$pgbtnColor: #8e7a6c;

/* Font */
// font family
$mainFontBold: roboto-bold;
$mainFontLight: roboto-light;
// main font should been used in login, sign up,  logout, books, search, profile
// bold is for emphasis, light for normal text
$titleFont: Superclarendon;
// bold
// used in navbar, login and profile title
/* Layout */
